<!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>Staff</span>Page</div>
    </a>
    <ul class="side-menu">
        <li><a href="/staff/profile-staff" name="profileStaff" id="profileStaff"><i class='bx bx-cog'></i>Profile Staff</a></li>
        <li><a href="/staff/list-customer" name="listCustomer" id="listCustomer"><i class='bx bx-group'></i>List Customer</a></li>
        <li><a href="/staff/list-product-staff" name="listProductStaff" id="listProductStaff"><i class='bx bx-analyse'></i>List Product Staff</a></li>
        <li><a href="/system/" name="system" id="system"><i class='bx bx-store-alt'></i>Payment System</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="/staff/logout-staff" class="logout" name="logout" id="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->