<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/css/other/404.css"> 
</head>
<body>
  <div class="error-container">
    <h1>Payment Shop</h1>
    <p>The page you are looking for does not exist.</p>
    <a href="/staff/login-staff">Go to Home Page</a>
  </div>
</body>
</html>