<!-- Sidebar Section -->
<aside>
    <div class="toggle">
        <div class="logo">
            <img src="/images/logo.png">
            <h2>Admin<span class="danger">Page</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>

    <div class="sidebar">
        <a href="/admin/profile-admin" name="profileAdmin" id="profileAdmin">
            <span class="material-icons-sharp">
                insights
            </span>
            <h3>Profile Admin</h3>
        </a>
        <a href="/admin/list-product-admin" name="listProductAdmin" id="listProductAdmin">
            <span class="material-icons-sharp">
                inventory
            </span>
            <h3>List Product Admin</h3>
        </a>
        <a href="/admin/list-staff" name="listStaff" id="listStaff">
            <span class="material-icons-sharp">
                receipt_long
            </span>
            <h3>List Staff</h3>
        </a>
        <a href="/admin/register-staff" name="registerStaff" id="registerStaff">
            <span class="material-icons-sharp">
                person_outline
            </span>
            <h3>Register Staff</h3>
        </a>
        <a href="/report/analysis-report" name="analysisReport" id="analysisReport">
            <span class="material-icons-sharp">
                receipt_long
            </span>
            <h3>Analysis Report</h3>
        </a>
        <a href="/admin/logout-admin" name="logout" id="logout">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>
<!-- End of Sidebar Section -->