#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: none;
}

#addProductModal {
    width: 30%;
    height: fit-content;
    max-width: 500px;
    position: fixed;
    padding: 25px;
    border: 1px solid black;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9;
}

#addProductModal h1 {
    font-size: 35px;
    text-align: center;
    margin: 15px;
}

#addProductModal #addForm {
    display: flex;
    flex-direction: column;
}

#addProductModal #addForm span {
    font-size: 18px;
    padding: 8px 0;
    font-weight: 700;
}

#addProductModal #addForm button {
    background-color: blue;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin-top: 13px;
    color: #fff;
    cursor: pointer;
}

#addProductModal #addForm input {
    font-size: 22px;
    padding: 13px;
    margin-bottom: 13px;
    width: 100%;
    border: 1px solid black;
    border: 25px;
}

#addProductModal.active {
    display: block;
    z-index: 99;
}

.recent-orders tbody button {
    font-size: 13px;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.recent-orders tbody button:hover {
    background-color: rgb(83, 83, 83);
    transition: ease 0.8s;

}

#editModal {
    width: 30%;
    height: fit-content;
    max-width: 500px;
    position: fixed;
    padding: 25px;
    border: 1px solid black;
    background-color: rgb(211, 233, 252);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9;
}

#editModal .modal-content h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

#editModal #editForm {
    display: flex;
    flex-direction: column;
}

#editModal #editForm span {
    font-size: 18px;
    padding: 8px 0;
    font-weight: 700;
}

#editModal #editForm button {
    background-color: blue;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    margin-top: 13px;
    color: #fff;
    cursor: pointer;
}

#editModal #editForm input {
    font-size: 22px;
    padding: 13px;
    margin-bottom: 13px;
    width: 100%;
    border: 1px solid black;
    border: 25px;
}

#editModal.active {
    display: block;
    z-index: 99;
}